<% content_for :meta_title, "Chez Valou - Actualités" %>
<% content_for :meta_description, "Découvrez les dernières actualités de Chez Valou Pâtisserie - Pâtisserie sur mesure pour vos évenements : baptêmes, anniversaires, mariages, communions, fêtes religieuses" %>


<div class="container container-blogposts">
  <div class="text-center">
    <h2>Les actualités de Chez Valou</h2>
  </div>
  <% @blogposts.each do |blogpost| %>
    <div class="card-blogpost mt-5">
      <div class="mb-4 text-center text-lg-left">
        <h3><%= blogpost.title %></h3>
      </div>
      <div class="row h-100">
        <div class="col-xs-12 col-sm-6 my-auto">
          <%= link_to blogpost_path(blogpost) do %>
            <%= cl_image_tag blogpost.photo, quality: :auto, fetch_format: :auto, class: "blogpost-photo-small" %>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-6 h-100">
          <div class="mt-4 text-justify">
            <%= blogpost.content.truncate(600, separator: ' ').html_safe %>
            <p><em>Publié le <%= blogpost.created_at.strftime("%d/%m/%Y") %></em></p>
          </div>
          <br>
          <%= link_to "Lire la suite", blogpost_path(blogpost), class: "btn btn-ghost btn-ghost-black" %>
        </div>
      </div>
    </div>
  <% end %>
  <br><br> <br>
</div>
