<div class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div class="navbar-container-image d-flex h-100">
    <%= link_to root_path, class: "navbar-brand justify-content-center align-self-center mr-5 mb-1" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse flex-grow-1" id="navbarSupportedContent">
    <ul class="navbar-nav text-center text-lg-right mr-auto d-flex justify-content-between w-100">
      <li>
        <%= link_to "ACTUALITÉS", blogposts_path, class: "nav-item" %>
      </li>
      <li>
        <%= link_to "CONCEPT", root_path(anchor: "concept"), class: "nav-item" %>
      </li>
      <li>
        <%= link_to "À PROPOS", root_path(anchor: "about"), class: "nav-item" %>
      </li>
      <li>
        <%= link_to "LIVRAISON", root_path(anchor: "shipping"), class: "nav-item" %>
      </li>
      <li>
        <%= link_to "CONTACT", root_path(anchor: "contact"), class: "nav-item" %>
      </li>
    </ul>
  </div>
</div>
