<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-center">
      </div>
      <div class="col-xs-12 col-sm-6 text-center pt-5">
        <div class="image-banner">
          <%= image_tag "logo.png" %>
        </div>
        <h1>Création de pâtisseries à votre goût</h1>
        <br>
        <a class="btn btn-ghost" href="#">Me contacter</a>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid container-red title-white">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>ACTUALITÉS</h2>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <% @blogposts.each do |post| %>
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="card-title">
        <h3><%= post.title %></h3>
      </div>
      <div class="card">
        <%= image_tag("#{post.photo}", alt: "#{post.title}", class: "card-img-top")%>
        <div class="card-body text-left">
          <p class="card-text"><%= post.content.truncate(150) %></p>
          <em><%= link_to 'En savoir plus', blogpost_path(post), class:"card-link" %></em>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="container-fluid container-concept">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>CONCEPT</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h4>Pour qui ?</h4>
      </div>
    </div>
    <div class="row">
      <div class="col list-for-who d-flex h-100r">
        <%= image_tag("home.png", alt: "home", class: "icon-for-who")%>
        <p class="justify-content-center align-self-cente">
          Gourmands <strong> <span class="red-word">à domicile</span></strong> : anniversaires, fêtes de famille, naissances, fêtes religieuses, dîners entre amis,... </p>
      </div>
    </div>
    <div class="row">
      <div class="col list-for-who d-flex h-100r">
        <%= image_tag("work.png", alt: "work", class: "icon-for-who")%>
        <p class="justify-content-center align-self-cente">
          Gourmands <strong> <span class="red-word">au travail</span></strong> : comités d'entreprises, pots de départs, arbres de noël,... </p>
      </div>
    </div>
    <div class="row">
      <div class="col list-for-who d-flex h-100r">
        <%= image_tag("asso.png", alt: "asso", class: "icon-for-who")%>
        <p class="justify-content-center align-self-cente">
          Gourmands <strong> <span class="red-word">associatifs</span></strong> : fêtes et évenements annuels,... </p>
      </div>
    </div>
  </div>
  <br>

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h4>Vos idées, nos créations !</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-center mb-4">
        <div class="number-step">
          1
        </div>
        <div class="text-step">
          <p>Vous me faites part de vos idées, et nous créons ensemble <strong> <span class="red-word">cette pâtisserie qui vous ressemble</span></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center mb-4">
        <div class="number-step">
          2
        </div>
        <div class="text-step">
          <p>Je passe en cuisine et prépare votre pâtisserie <strong> <span class="red-word">100% fait-maison</span></strong> avec des produits locaux et de saison</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center mb-4">
        <div class="number-step">
          3
        </div>
        <div class="text-step">
          <p>Je vous livre <strong> <span class="red-word">à vélo </span></strong>(ou en voiture pour les événements hors zone, sur demande)</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center mb-4">
        <div class="number-step">
          4
        </div>
        <div class="text-step">
          <p>Vous partagez un<strong> <span class="red-word">moment gourmand </span></strong>avec vos proches, collègues, convives,...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-brown title-red">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>À PROPOS</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-lg-6 text-center">
      <%= image_tag("valerie.png", alt: "Valerie Teper", class: "img-about d-lg-none")%>
      <%= image_tag("valerie.png", alt: "Valerie Teper", class: "img-about img-about-lg d-none d-lg-block")%>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="text-about d-lg-none">
        <p>Moi, c'est Valérie, pâtissière passionnée ! Vous ne le croirez peut-être pas, mais avant de vivre de ma passion, j'étais ingénieure dans l'industrie. Une démission et un CAP pâtisserie plus tard me voilà désormais entrepreneuse... et heureuse ! C'est ce bonheur que je veux partager, et que j'aime retrouver dans les yeux des gourmands qui dégustent mes créations avec cette étincelle de plaisir qui tout simplement me fait adorer mon métier chaque jour.
          <br>
        Perfectionniste - être ingénieure laisse des traces indélébiles - et inlassablement à la recherche de nouvelles idées gourmandes, je crée pour vous des <strong> <span class="red-word">pâtisseries sur-mesure </span></strong>(saveur, texture, visuel, vegan, sans gluten, sans allergies spécifiques, etc) et <strong> <span class="red-word">100% artisanales </span></strong>. Vous êtes tous concernés ! Ētes vous pêts à partager un moment gourmand ?</p>
      </div>
      <div class="text-about text-about-lg d-none d-lg-block d-xl-none">
        <p>Moi, c'est Valérie, pâtissière passionnée ! Vous ne le croirez peut-être pas, mais avant de vivre de ma passion, j'étais ingénieure dans l'industrie. Une démission et un CAP pâtisserie plus tard me voilà désormais entrepreneuse... et heureuse ! C'est ce bonheur que je veux partager, et que j'aime retrouver dans les yeux des gourmands qui dégustent mes créations avec cette étincelle de plaisir qui tout simplement me fait adorer mon métier chaque jour.
          <br>
        Perfectionniste - être ingénieure laisse des traces indélébiles - et inlassablement à la recherche de nouvelles idées gourmandes, je crée pour vous des <strong> <span class="red-word">pâtisseries sur-mesure </span></strong>(saveur, texture, visuel, vegan, sans gluten, sans allergies spécifiques, etc) et <strong> <span class="red-word">100% artisanales </span></strong>. Vous êtes tous concernés ! Ētes vous pêts à partager un moment gourmand ?</p>
      </div>
      <div class="text-about text-about-lg d-none d-xl-block">
        <p>Moi, c'est Valérie, pâtissière passionnée ! Vous ne le croirez peut-être pas, mais avant de vivre de ma passion, j'étais ingénieure dans l'industrie. Une démission et un CAP pâtisserie plus tard me voilà désormais entrepreneuse... et heureuse ! C'est ce bonheur que je veux partager, et que j'aime retrouver dans les yeux des gourmands qui dégustent mes créations avec cette étincelle de plaisir qui tout simplement me fait adorer mon métier chaque jour.
          <br>
        Perfectionniste - être ingénieure laisse des traces indélébiles - et inlassablement à la recherche de nouvelles idées gourmandes, je crée pour vous des <strong> <span class="red-word">pâtisseries sur-mesure </span></strong>(saveur, texture, visuel, vegan, sans gluten, sans allergies spécifiques, etc) et <strong> <span class="red-word">100% artisanales </span></strong>. Vous êtes tous concernés ! Ētes vous pêts à partager un moment gourmand ?</p>
      </div>
    </div>
  </div>

</div>





