<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-center">
      </div>
      <div class="col-xs-12 col-sm-6 text-center pt-5">
        <div class="image-banner">
          <%= image_tag "logo.png" %>
        </div>
        <h1>Création de pâtisseries à votre goût</h1>
        <br>
        <a class="btn btn-ghost" href="#">Me contacter</a>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid container-new">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>ACTUALITÉS</h2>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <% @blogposts.each do |post| %>
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="card-title">
        <h3><%= post.title %></h3>
      </div>
      <div class="card">
        <%= image_tag("#{post.photo}", alt: "#{post.title}", class: "card-img-top")%>
        <div class="card-body text-left">
          <p class="card-text"><%= post.content.truncate(150) %></p>
          <em><%= link_to 'En savoir plus', blogpost_path(post), class:"card-link" %></em>
        </div>
      </div>
    </div>

  <% end %>
  </div>
</div>




