<% content_for :meta_title, "Chez Valou Pâtisserie" %>
<% content_for :meta_description, "Chez Valou Pâtisserie - Création de pâtisseries sur-mesure, à votre goût - Livraison à domicile dans la région de Bordeaux" %>

<div class="banner">
  <div class="container-fluid d-flex h-100">
    <div class="row justify-content-center align-self-center row-banner">
      <div class="col-xs-12 col-md-8 text-center">
      </div>
      <div class="col-xs-12 col-md-4 text-center mr-0 pr-1 d-none d-md-block">
        <div class="image-banner mb-2">
          <%= image_tag "logo.png" %>
        </div>
        <h1>Création de pâtisseries à votre goût</h1>
        <a class="btn btn-ghost mt-4" href="#contact">Me contacter</a>
      </div>
      <div class="col-xs-12 col-md-6 text-center pr-0 pl-0 d-block d-md-none">
        <div class="col-banner">
          <div class="image-banner mb-2">
            <%= image_tag "logo.png" %>
          </div>
          <h1>Création de pâtisseries à votre goût</h1>
          <a class="btn btn-ghost mt-4" href="#contact">Me contacter</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid container-red title-white">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>ACTUALITÉS</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <% @blogposts.each do |post| %>
      <div class="col-xs-12 col-md-4 text-center">
        <div class="card-title">
          <h3><%= post.title %></h3>
        </div>
        <div class="card">
          <%= image_tag("#{post.photo}", alt: "#{post.title}", class: "card-img-top")%>
          <div class="card-body text-left">
            <p class="card-text"><%= post.content.truncate(150) %></p>
            <em><%= link_to 'En savoir plus', blogpost_path(post), class:"card-link" %></em>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<div class="anchor" id="concept"></div>
<div class="container-fluid container-concept" id="#concept">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>CONCEPT</h2>
      </div>
    </div>
  </div>
  <div class="container mb-3">
    <div class="row">
      <div class="col text-center">
        <h3>Pour qui ?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col list-for-who d-flex h-100r">
        <%= image_tag("home.png", alt: "home", class: "icon-for-who")%>
        <p class="justify-content-center align-self-cente">
          Gourmands <strong> <span class="red-word">à domicile</span></strong> : anniversaires, fêtes de famille, naissances, fêtes religieuses, dîners entre amis, ... </p>
      </div>
    </div>
    <div class="row">
      <div class="col list-for-who d-flex h-100r">
        <%= image_tag("work.png", alt: "work", class: "icon-for-who")%>
        <p class="justify-content-center align-self-cente">
          Gourmands <strong> <span class="red-word">au travail</span></strong> : comités d'entreprises, pots de départs, arbres de noël, ... </p>
      </div>
    </div>
    <div class="row">
      <div class="col list-for-who d-flex h-100r">
        <%= image_tag("asso.png", alt: "asso", class: "icon-for-who")%>
        <p class="justify-content-center align-self-cente">
          Gourmands <strong> <span class="red-word">associatifs</span></strong> : fêtes et évenements annuels, ... </p>
      </div>
    </div>
  </div>
  <br>

  <div class="lign"></div>

  <div class="container">
    <div class="row">
      <div class="col text-center mb-3 mt-3">
        <h3>Vos idées, nos créations !</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-center numbers-div">
        <div class="number-step">
          1
        </div>
        <div class="text-step">
          <p>Vous me faites part de vos idées, et nous créons ensemble <strong> <span class="red-word">cette pâtisserie qui vous ressemble</span></strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center numbers-div">
        <div class="number-step">
          2
        </div>
        <div class="text-step">
          <p>Je passe en cuisine et prépare votre pâtisserie <strong> <span class="red-word">100% fait-maison</span></strong> avec des produits locaux et de saison</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center numbers-div">
        <div class="number-step">
          3
        </div>
        <div class="text-step">
          <p>Je vous livre <strong> <span class="red-word">à vélo </span></strong>(ou en voiture pour les événements hors zone, sur demande)</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 text-center numbers-div">
        <div class="number-step">
          4
        </div>
        <div class="text-step">
          <p>Vous partagez un<strong> <span class="red-word">moment gourmand </span></strong>avec vos proches, collègues, convives,...</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="anchor" id="about"></div>
<div class="container-fluid container-brown title-red">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>À PROPOS</h2>
      </div>
    </div>
  </div>

  <div class="row d-flex h-100 row-about">
    <div class="col-xs-12 col-lg-6 text-center justify-content-center align-self-center img-about-lg">
      <%= image_tag("valerie.png", alt: "Valerie Teper", class: "img-about")%>
    </div>
    <div class="col-xs-12 col-lg-6 justify-content-center align-self-center">
      <div class="text-about mx-auto">
        <p>Moi, c'est Valérie, pâtissière passionnée ! Vous ne le croirez peut-être pas, mais avant de vivre de ma passion, j'étais ingénieure dans l'industrie. Une démission et un CAP pâtisserie plus tard me voilà désormais entrepreneuse... et heureuse ! C'est ce bonheur que je veux partager, et que j'aime retrouver dans les yeux des gourmands qui dégustent mes créations avec cette étincelle de plaisir qui tout simplement me fait adorer mon métier chaque jour.
          <br><br>
        Perfectionniste - être ingénieure laisse des traces indélébiles - et inlassablement à la recherche de nouvelles idées gourmandes, je crée pour vous des <strong> <span class="red-word">pâtisseries sur-mesure </span></strong>(saveur, texture, visuel, vegan, sans gluten, sans allergies spécifiques, etc) et <strong> <span class="red-word">100% artisanales </span></strong>. Vous êtes tous concernés ! Ētes vous pêts à partager un moment gourmand ?</p>
      </div>
    </div>
  </div>
  <br><br>
</div>


<div class="anchor" id="shipping"></div>
<div class="container-fluid title-brown">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>LIVRAISON</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p>Envie d'une pâtisserie sur-mesure ? Grâce à cette carte découvrez si <strong> <span class="red-word">Chez Valou Pâtisserie </span></strong>vient jusqu'à chez vous ! <br>Des questions ? Vous êtes hors-zone ? N'hésitez pas à me contacter !</p>
    </div>
  </div>
  <br>
  <div class="row mb-4">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=17lNUMXadeT0qdPNRDUG8qMaWiJW8d1t0" width="100%" height="480"></iframe>
  </div>
</div>

<div class="anchor" id="contact"></div>
<div class="container-fluid container-hazelnut title-white">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>CONTACT</h2>
      </div>
    </div>
  </div>
  <p class="text-white text-center">N'hésitez pas à me contacter pour commencer à échanger sur cette pâtisserie qui vous ressemble, ou pour plus d'informations pour une livraison hors zone par exemple. <br> Dans tous les cas, pensez à me préciser la date et le lieu de l'événement. </p>
  <form action="https://formspree.io/contact.chezvalou@gmail.com" accept-charset="utf-8" method="POST" />
    <div class="form-row">
      <div class="col">
        <div class="form-row">
          <div class="col">
            <input type="text" name="first-name" class="form-control" placeholder="Prénom" required="">
          </div>
          <div class="col">
            <input type="text" name="last-name" class="form-control" placeholder="Nom" required="">
          </div>
        </div>
        <div class="form-row mt-2">
          <div class="col">
            <input type="email" class="form-control" name="_replyto" id="email-address" placeholder="Email" required="">
          </div>
        </div>
        <div class="form-row mt-2">
          <div class="col">
            <input type="telephone" class="form-control" name="telephone" id="telephone" placeholder="Téléphone">
          </div>
        </div>
      </div>
      <div class="col">
        <textarea name="complaint" rows="6" id="complaint" class="form-control" placeholder="Message" required=""></textarea>
      </div>
    </div>
    <input type="hidden" name="_subject" id="email-subject" value="Contact via site web">
  <div class="row">
    <div class="col text-center">
      <input type="submit" value="Envoyer" class="btn btn-white mt-4">
    </div>
  </div>
  <br>
</form>
</div>

<div class="container-fluid title-red">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2>INSTAGRAM</h2>
      </div>
    </div>
  </div>      <!-- SnapWidget -->
  <script src="https://snapwidget.com/js/snapwidget.js"></script>
  <iframe src="https://snapwidget.com/embed/731008" class="snapwidget-widget mb-5 mt-3" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>
</div>






